.Alert {
    z-index: 1;
    position: fixed;
    top: calc(var(--NavHeight) * -1);
    left: 0;
    display: flex;
    background-color: var(--col-5th-2);
    color: var(--col-5th-3);
    opacity: 0;
    animation: down .5s ease-in 1 forwards;

    & .body {
        padding: 1rem;
    }
    & button.close {
        display: block;
        background: none;
        border: none;
        margin-right: 0;
        cursor: pointer;
        padding: 1rem;
        font-size: 3.6rem;
        line-height: 2.4rem;
        color: inherit;
        font-weight: 300;

        &:hover,
        &:focus {
            color: var(--col-5th-4);
            background-color: var(--col-5th-5);
        }
    }
}

@keyframes down {
    to {
        transform: translateY(calc(var(--NavHeight) * 2));
        opacity: 1;
    }
}