.Toast {
    z-index: 1;
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    width: 12rem;
    font-size: 1.2rem;
    background-color: var(--col-2nd-3);
    border-radius: .4rem;
    border: .1rem solid var(--col-2nd-4);
    box-shadow: 0 .2rem .6rem var(--col-1st-6),
                0 -.2rem .6rem var(--col-1st-6);

    & .header {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: .4rem;
        border-bottom: .1rem solid var(--col-2nd-4);
    }
    & .body {
        padding: .8rem;

        & .progress-bar {
            position: relative;
            height: 2rem;
            border-radius: .4rem;
            background-color: var(--col-2nd-4);
            overflow: hidden;

            & .progress {
                height: 100%;
                background-color: var(--col-3rd-5);
            }
            & .percentage {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    @media only screen and (min-width: 600px) {
        bottom: 2rem
    }
}